<div class="container-center">
  <div class="card">

    <h4 class="header list-group-item">SOCIAL NETWORK CREATOR</h4>

    <div class="card-body">

      <h6>Generate graph from XML file</h6>

      <div class="custom-file mt-3">
        <input type="file" accept="text/xml" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
        <label class="custom-file-label" for="customFile">
          {{fileUploadForm.get('file').valid ? fileName : 'Choose file'}}
        </label>
      </div>

      <p class="card-text my-2 small">
        Good example files can be found
        <a href="http://www.ibiblio.org/xml/examples/shakespeare/" class="card-link font-weight-bold">here </a>
      </p>

      <button (click)="generateGraph()" class="btn btn-success w-100" [disabled]="fileUploadForm.get('file').invalid">
        Generate from XML
      </button>

      <div class="my-4 text-center d-flex justify-content-center align-items-center">
        <div class="border-top w-100"></div>
        <div class="px-3">OR</div>
        <div class="border-top w-100"></div>
      </div>

      <h6>Create graph from scratch</h6>

      <button class="btn btn-primary w-100 my-3">Do it yourself</button>
    </div>
  </div>
</div>
